<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org"> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<body>

<div>
<form th:action="@{/viewLoginPage}">
<input name="keyword" th:value="${keyword}" placeholder="Enter keyword" method="post"/>
<button type="submit">Search</button>
</form>

</div>

<table border="1">
	<tr>
		<th>EmailId</th>
		<th>Password</th>
		<th>Type of User</th>
		
	</tr>
	<tr th:each="ll:${login}">
		<td th:text="${ll.emailid}"></td>
		<td th:text="${ll.password}"></td>
		<td th:text="${ll.typeofuser}"></td>
	</tr>
</table>
<br/>
<a th:href="@{/adminHome}">Back</a>
</body>
</html>